@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

.food-search {
    font-family: 'Roboto', sans-serif;
}

/* food search section */
.food-search .user-nav {
    background: #2C3A42;
    height: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
    "user-title menu-icon";
    gap: 3px;
    padding: 10px;
}

.food-search .menu-icon {
    grid-area: menu-icon;
    justify-self: end;
    align-self: center;
}


.food-search #title {
    grid-area: user-title;
    color: #F7FBFB;
    justify-self: center;
    align-self: center;
} 

/* creat recipe steps section */
.food-search .bar-steps {
    background: #92A3B5;
    display: grid;
    justify-items: center;
    align-items: center;
    color: #2C3A42;
    height: 30px;
}

.food-search .food-search-bar {
    background-color: #92A3B5;
    padding: 10px;
    height: 30px;
}

.food-search .input-container {
    display: grid;
    height: 30px;
    background-color: #f7fbfb;
    border-radius: 15px 15px 15px 15px;
    border: 1px solid #d7dbdb;
}

.food-search #has-text {
    display: grid;
    height: 30px;
    background-color: #f7fbfb;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid #d0d3d3;
}

.food-search .food-search-bar input {
    background: transparent;
    border: none;
    height: 30px;
    left: 10px;
    position: relative;
}

.food-search .food-search-bar input:focus{
    outline: none;
}

.food-search .result-list {
    background-color: #F7FBFB;
    padding: 12px;
    border-radius: 0px 0px 15px 15px;
    border: 1px solid #d0d3d3;
    position: relative;
}

.food-search .category {
    color: #92A3B5;
    line-height: 2;
}

.food-search .description {
    text-indent: 1em;
    line-height: 2;
}

.food-search .description:hover {
    
    background-color:#8f9eaf3b;
    border-radius: 15px;
}

.food-search .description.description:active {
    background-color:#56b6563b;
    border-radius: 15px;
}


.search-input {
    border-radius: 10px;
    border-style: none;
    width: 90vw;
    height: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
}

.button {
    border: none;
    width: 100vw;
    height: 45px;
}

.add-new-recipe {
    border-radius: 0 0 0px 9px;
    background: #BF3A15;
    color: #F7FBFB;
}

.go-to-amounts {
    border-radius: 0 0 9px 0px;
    border: 2px solid #BF3A15;
    background: #F7FBFB;
}
