@viewport {
    width: device-width;
    zoom: 1;
}
  
.container {
    display: flex;
    
}

.box  {
    /* position: inherit;
    bottom: 0;
    width: 100vw;
    height: 100vh; */
    
    display: grid;
    grid-template-columns: 10px 1fr 10px;
    grid-template-rows: 10px 1fr 10px;
    grid-template-areas: 'top top top'
                         'left food-items right'
                         'left buttom right';
}

.top {
    grid-area: top;
}

.right {
    grid-area: right;

}

.left {
    grid-area: left;

}

.buttom {
    grid-area: buttom;
}

